<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Skill</title>
	</head>
	<body>
		<h2>Edit Skill: <%= skill %></h2>
		<form
			method="POST"
			action="/skills/<%= skill %>?_method=PUT"
			autocomplete="off"
		>
			<input type="text" name="newSkill" value="<%= skill %>" />
			<button type="submit">Confirm</button>
		</form>
	</body>
</html>
