body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
	display: block;
	padding: 10px;
	padding-left: 0;
}

.delete {
	display: inline;
}

.red {
	color: red;
	height: 1.5rem;
	width: 1.5rem;
	padding: 0;
}

.editSvg {
	display: inline;
	text-decoration: none;
}
